  
   .pageMain{
    display: flex;
    flex-direction: column;
}
  /* The navbar */
  .topnav {
    background-color: #333;
    position: fixed;
    align-items: center;
    display: flex;
    flex-direction: row;
    border-radius: 10px 100px / 120px;
  }
  .logohosthings{
    display: flex;
    height: 80px;
    width: 80px;
    background-image: url('../img/logoHosthings3.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  /* Navbar links */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .logohosthingsIntro{
    background-image: url('../img/intro.jpg');
    background-repeat: no-repeat;
    background-position: center;
   max-width: 100%;
    height: 600px;
  }
 .expertises{
    display: flex;
    flex-direction: column;
    
}
.partleft{
    display: flex;
    flex-direction: column;
}
.partright{
    display: flex;
    flex-direction: column;
}

 .navbarlogo{
     display: flex;
     flex-direction: row;
     width: 100%;
     background-color: #333;
     position: fixed;
     
 }



.main{
    display: flex;
    background-image: url('../img/chatmain1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 60em;
}
   .titleLeft {
	font-family: 'Roboto', sans-serif;
    font-size: 45px;
    line-height: 60px;
    letter-spacing: 10px;
    padding-bottom: 45px;
}
.textLeft{
    ont-size: 20px;
    line-height: 38px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    margin-bottom: 45px;
}
.titleRight {
    display: flex;
    justify-content: end;
	font-family: 'Roboto', sans-serif;
    font-size: 45px;
    line-height: 60px;
    letter-spacing: 10px;
    padding-bottom: 45px;
}
.textRight{
    display: flex;
    justify-content: end;
    ont-size: 20px;
    line-height: 38px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    margin-bottom: 45px;
}
  .bullelogo{
    height: 100px;
    width: 100px;
    background-image: url('../img/logoiconentrepriseBulls2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    cursor: pointer;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(3, 1, 0);
    position: fixed;
  }
  .bulleStep{
    height: 100px;
    width: 100px;
    background-image: url('../img/step.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    cursor: pointer;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(3, 1, 0);
    position: fixed;
  }
  
  .bullezone{
    display: flex; 
    flex-direction: row;
    justify-content:space-around;
    width: 100%;
  }
  
  .bullejob{
    height: 180px;
    width: 180px;
    background-image: url('../img/worktogether2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border-style: solid;
    border-color: coral;
  }
  
  .bulledev{
    height: 180px;
    width: 180px;
    background-image: url('../img/developper.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border-style: solid;
    border-color: coral;
  }
  
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  .tagline {
    display: flex;
    justify-content: center;
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}
.icons-social{
    display: flex;
    flex-direction: row;
    justify-content: center;
	font-size: 3em;
}

@media (0px <= width <= 700px) {

    .logohosthingsIntro{
        background-color: white;
        background-image: url('../img/intro2.jpg');
        background-repeat: no-repeat;
        background-position: center;
        height: 500px;
      }
  }
